[*.cs]
csharp_style_var_for_built_in_types=true:silent
csharp_style_var_when_type_is_apparent=true:silent
csharp_style_var_elsewhere=true:silent

##
## StyleCop.Analyzers
##

# Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity =error

# XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity =warning

# The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1633.severity =silent
    
# Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity =error
    
# Variable '_' should begin with lower-case letter
dotnet_diagnostic.SA1312.severity =error
    
# Parameter '_' should begin with lower-case letter
dotnet_diagnostic.SA1313.severity =warning
    
# Elements should be documented
dotnet_diagnostic.SA1600.severity =warning
    
# Prefix local calls with this
dotnet_diagnostic.SA1101.severity =silent
    
# 'public' members should come before 'private' members
dotnet_diagnostic.SA1202.severity =silent
    
# Comments should contain text
dotnet_diagnostic.SA1120.severity =error
    
# Constant fields should appear before non-constant fields
dotnet_diagnostic.SA1203.severity =warning
    
# Field '_blah' should not begin with an underscore
dotnet_diagnostic.SA1309.severity =silent
    
# Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity =silent

# A method should not follow a class
dotnet_diagnostic.SA1201.severity =warning

# Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity =error

# The parameter spans multiple lines
dotnet_diagnostic.SA1118.severity =warning
    
# Static members should appear before non-static members
dotnet_diagnostic.SA1204.severity =warning

# Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity =warning

# Opening braces should not be preceded by blank line
dotnet_diagnostic.SA1509.severity =error
    
# The parameter should begin on the line after the previous parameter
dotnet_diagnostic.SA1115.severity =error

# File name should match first type name
dotnet_diagnostic.SA1649.severity =warning

# File may only contain a single type
dotnet_diagnostic.SA1402.severity =warning

# Enumeration items should be documented
dotnet_diagnostic.SA1602.severity =warning

# Element should not be on a single line
dotnet_diagnostic.SA1502.severity =silent

# Closing parenthesis should not be preceded by a space
dotnet_diagnostic.SA1009.severity =error

# Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity =error

# Braces should not be ommitted
dotnet_diagnostic.SA1503.severity =silent
csharp_using_directive_placement=inside_namespace:error
dotnet_diagnostic.xUnit2001.severity=warning
dotnet_diagnostic.SA1119_p.severity=warning
dotnet_diagnostic.SA1000.severity=error
dotnet_diagnostic.SA1001.severity=error
dotnet_diagnostic.SA1002.severity=error
dotnet_diagnostic.SA1003.severity=error
dotnet_diagnostic.SA1004.severity=error
dotnet_diagnostic.SA1005.severity=error
dotnet_diagnostic.SA1006.severity=error
dotnet_diagnostic.SA1007.severity=error
dotnet_diagnostic.SA1008.severity=error
dotnet_diagnostic.SA1010.severity=error
dotnet_diagnostic.SA1011.severity=error
dotnet_diagnostic.SA1012.severity=error
dotnet_diagnostic.SA1013.severity=error
dotnet_diagnostic.SA1014.severity=error
dotnet_diagnostic.SA1015.severity=error
dotnet_diagnostic.SA1016.severity=error
dotnet_diagnostic.SA1017.severity=error
dotnet_diagnostic.SA1018.severity=error
dotnet_diagnostic.SA1019.severity=error
dotnet_diagnostic.SA1020.severity=error
dotnet_diagnostic.SA1021.severity=error
dotnet_diagnostic.SA1022.severity=error
dotnet_diagnostic.SA1023.severity=error
dotnet_diagnostic.SA1024.severity=error
dotnet_diagnostic.SA1025.severity=error
dotnet_diagnostic.SA1026.severity=error
dotnet_diagnostic.SA1027.severity=error
dotnet_diagnostic.SA1028.severity=error
dotnet_diagnostic.SA1100.severity=error
dotnet_diagnostic.SA1107.severity=error
dotnet_diagnostic.SA1110.severity=error
dotnet_diagnostic.SA1112.severity=error
dotnet_diagnostic.SA1113.severity=error
dotnet_diagnostic.SA1114.severity=error
dotnet_diagnostic.SA1116.severity=error
dotnet_diagnostic.SA1117.severity=silent
dotnet_diagnostic.SA1121.severity=error
dotnet_diagnostic.SA1124.severity=silent
dotnet_diagnostic.SA1125.severity=error
dotnet_diagnostic.SA1127.severity=error
dotnet_diagnostic.SA1131.severity=error
dotnet_diagnostic.SA1132.severity=error
dotnet_diagnostic.SA1133.severity=error
dotnet_diagnostic.SA1134.severity=error
dotnet_diagnostic.SA1135.severity=error
dotnet_diagnostic.SA1136.severity=error
dotnet_diagnostic.SA1137.severity=error
dotnet_diagnostic.SA1205.severity=error
dotnet_diagnostic.SA1206.severity=error
dotnet_diagnostic.SA1208.severity=error
dotnet_diagnostic.SA1209.severity=error
dotnet_diagnostic.SA1210.severity=error
dotnet_diagnostic.SA1211.severity=error
dotnet_diagnostic.SA1212.severity=error
dotnet_diagnostic.SA1213.severity=error
dotnet_diagnostic.SA1216.severity=error
dotnet_diagnostic.SA1217.severity=error
dotnet_diagnostic.SA1302.severity=error
dotnet_diagnostic.SA1304.severity=error
dotnet_diagnostic.SA1306.severity=silent
dotnet_diagnostic.SA1314.severity=error
dotnet_diagnostic.SA1400.severity=error
dotnet_diagnostic.SA1401.severity=silent
dotnet_diagnostic.SA1403.severity=error
dotnet_diagnostic.SA1408.severity=silent
dotnet_diagnostic.SA1500.severity=error
dotnet_diagnostic.SA1501.severity=error
dotnet_diagnostic.SA1505.severity=error
dotnet_diagnostic.SA1507.severity=error
dotnet_diagnostic.SA1508.severity=error
dotnet_diagnostic.SA1510.severity=error
dotnet_diagnostic.SA1511.severity=error
dotnet_diagnostic.SA1513.severity=error
dotnet_diagnostic.SA1514.severity=error
dotnet_diagnostic.SA1517.severity=error
dotnet_diagnostic.SA1518.severity=error
dotnet_diagnostic.SA1520.severity=error
dotnet_diagnostic.SA1623.severity=silent
dotnet_diagnostic.SA1634.severity=silent
dotnet_diagnostic.SA1635.severity=silent
dotnet_diagnostic.SA1636.severity=silent
dotnet_diagnostic.SA1637.severity=silent
dotnet_diagnostic.SA1638.severity=silent
dotnet_diagnostic.SA1640.severity=silent
dotnet_diagnostic.SA1641.severity=silent
dotnet_diagnostic.SA1642.severity=silent
dotnet_diagnostic.SA1648.severity=silent