
name: CodeGen

# Controls when the action will run. 
on:
  # Triggers the workflow on pull request events but only for the main and develop branch
  pull_request:
    branches: [ main, develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "Generate"
  Generate:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Install EmberJS
        run: |
          set -x
          yarn global add ember-cli@3.1.4
          yarn global add bower
          npm install -g bower
          npm install -g ember-cli@3.1.4

      - name: Install NewPlatform.Flexberry.Designer.CommandLine
        run: nuget install NewPlatform.Flexberry.Designer.CommandLine -Version 0.1.0-alpha04 -OutputDirectory gen

      - name: Starting X virtual framebuffer (Xvfb) in background
        run: Xvfb -ac :99 -screen 0 1280x1024x16 &

      - name: Code generation
        run: |
          export DISPLAY=:99
          export SSH_ASKPASS=1
          mono ./gen/NewPlatform.Flexberry.Designer.CommandLine.0.1.0-alpha04/tools/flexberry.exe ./GenConfig.fdg

      - name: Tune ssh-keys
        env:
            ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}      
        run: |
          set -x
          export ENCRYPTION_KEY
          #  Recover private key
          openssl aes-256-cbc -in .github/workflows/secrets/id_rsa.enc -out .github/workflows/secrets/id_rsa -pass pass:$ENCRYPTION_KEY -d -md sha1
          # Setup SSH agent
          export SSH_AUTH_SOCK=/tmp/ssh_agent.sock
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          # Start ssh agent
          ssh-agent -a $SSH_AUTH_SOCK #> /dev/null
          chmod 0600 .github/workflows/secrets/id_rsa
          ssh-add .github/workflows/secrets/id_rsa      

      - name: Git commit and push
        run: |
          git config user.name "Flexberry-man"
          git config user.email "mail@flexberry.net"

          git add --all
          git commit -m "Flexberry Code Generation"

          # Redirect any output to /dev/null to hide any sensitive credential data that might otherwise be exposed.
          git push --force --quiet > /dev/null 2>&1

          echo "Done."

      - name: Cleanup
        if: always()
        run: |
          rm -Rf .ssh .github *